<%- include("partials/header") %>

<h1>Hello form index.ejs</h1>

<% blogs.forEach((blog) => { %>
    <div>
        <h2><%=blog.title%></h2>
        <img src="<%=blog.image%>" alt="">
        <p><%-blog.body.substring(0, 100)%>... <a href="/blogs/<%=blog._id%>">Read More!</a></p>    
        <span><%=blog.created%></span>
    </div>
<%});%>
<%- include("partials/footer") %>
